MascDataSource.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://picard:8080/MascDataSource/services/MascDataSource" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://picard:8080/MascDataSource/services/MascDataSource" xmlns:intf="http://picard:8080/MascDataSource/services/MascDataSource" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns1="uri:org.lappsgrid.api/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema targetNamespace="uri:org.lappsgrid.api/" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="Data">
    <sequence>
     <element name="discriminator" type="xsd:long"/>
     <element name="payload" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="queryResponse">

      <wsdl:part name="queryReturn" type="tns1:Data"/>

   </wsdl:message>

   <wsdl:message name="queryRequest">

      <wsdl:part name="input" type="tns1:Data"/>

   </wsdl:message>

   <wsdl:portType name="MascFileSource">

      <wsdl:operation name="query" parameterOrder="input">

         <wsdl:input message="impl:queryRequest" name="queryRequest"/>

         <wsdl:output message="impl:queryResponse" name="queryResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="MascDataSourceSoapBinding" type="impl:MascFileSource">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="query">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="queryRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://proxy.sun.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="queryResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://picard:8080/MascDataSource/services/MascDataSource" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="MascDataSourceService">

      <wsdl:port binding="impl:MascDataSourceSoapBinding" name="MascDataSource">

         <wsdlsoap:address location="http://picard:8080/MascDataSource/services/MascDataSource"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
